.env
.git
.cache
.mypy_cache
.pytest_cache
.ipynb_checkpoints
.gitignore
.dockerignore
Dockerfile
.github
.vscode
docs
scripts
tests
mkdocs.yaml
**/.mypy_cache
**/__pycache__
**/tracing_database.json
